name: Deploy DEV to Cloud Run

on:
  workflow_dispatch:
  push:
    branches:
      - develop-server
    paths:
      - "server/**"

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image: ${{ steps.meta.outputs.image_uri }}

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      REGION: ${{ secrets.GCP_REGION }}
      AR_REPO: ${{ secrets.GCP_AR_REPO }}
      IMAGE_NAME: ${{ secrets.GCP_IMAGE_NAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Configure Docker to use gcloud
        run: gcloud auth configure-docker $REGION-docker.pkg.dev --quiet

      - name: Compute Dev tag
        id: meta
        shell: bash
        run: |
          DATE=$(date +%Y%m%d)
          TAG="dev-${DATE}-${GITHUB_SHA:0:7}"
          IMAGE_URI="${REGION}-docker.pkg.dev/${PROJECT_ID}/${AR_REPO}/${IMAGE_NAME}:${TAG}"
          echo "image_uri=${IMAGE_URI}" >> "$GITHUB_OUTPUT"

      - name: Build Docker image
        run: |
          docker build \
            -f server/Whatta/Dockerfile \
            -t "${{ steps.meta.outputs.image_uri }}" \
            server/Whatta

      - name: Push Docker image
        run: docker push "${{ steps.meta.outputs.image_uri }}"


  deploy:
    needs: build
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      REGION: ${{ secrets.GCP_REGION }}
      DEV_SERVICE: ${{ secrets.CLOUDRUN_SERVICE_DEV }}

    steps:
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Deploy to Cloud Run (DEV)
        run: |
          gcloud run deploy "${DEV_SERVICE}" \
            --image "${{ needs.build.outputs.image }}" \
            --region "${REGION}" \
            --platform managed
